<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="FirstName" class="control-label"></label>
            <input ng-model="client.firstName" placeholder="FirstName" type="text" />
            <label for="LastName" class="control-label"></label>
            <input ng-model="client.lastName" placeholder="LastName" type="text" />
            <label for="DateOfBirth" class="control-label"></label>
            <input ng-model="client.dateOfBirth" placeholder="DateOfBirth" type="text" />
            <label for="Gender" class="control-label"></label>
            <input ng-model="client.gender" placeholder="Gender" type="text" />
            <label for="Email" class="control-label"></label>
            <input ng-model="client.email" placeholder="Email" type="text" />
            <label for="Phone" class="control-label"></label>
            <input ng-model="client.phone" placeholder="Phone" type="text" />
            <label for="AddressLine1" class="control-label"></label>
            <input ng-model="client.addressLine1" placeholder="AddressLine1" type="text" />
            <label for="AddressLine2" class="control-label"></label>
            <input ng-model="client.addressLine2" placeholder="AddressLine2" type="text" />
            <label for="CarId" class="control-label"></label>
            <input ng-model="client.carId" placeholder="CarId" type="text" />
            <label for="DrivingLicenseNo" class="control-label"></label>
            <input ng-model="client.drivingLicenseNo" placeholder="DrivingLicenseNo" type="text" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" ng-click="SaveClient()" />
        </div>
    </div>
</div>