
@{
    ViewData["Title"] = "Index";
}

<h2>Car List</h2>

<div id="carsContainer" ng-app="carsApp">
    <div ng-controller="carsController">
        <table class="table">
            <tbody>
                <tr ng-repeat="car in cars">
                    <td> {{car.id}} </td>
                    <td> {{car.type}} </td>
                    <td> {{car.name}} </td>
                    <td> <input type="button" value="x" class="btn-danger" ng-click="delete(car)" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td> <input ng-model="type" placeholder="Type" type="text" /> </td>
                    <td><input ng-model="name" placeholder="Name" type="text" /></td>
                    <td><input class="btn-primary" value="+" type="button" ng-click="add()" /></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script>
        angular.module('carsApp', [])
        .controller('carsController', function ($scope, $http) {
                $http.get("@Url.Action("GetCars", "Cars")").then(function (response) {
                    $scope.cars = response.data; });
                $scope.add = function () {
                    var car = {
                        type: $scope.type,
                        name: $scope.name
                    };

                    $http.post("@Url.Action("PostCar", "Cars")", car).then(function (response) {
                        $scope.cars.push(response.data);
                    });

                    $scope.type = '';
                    $scope.name = '';
                }
                $scope.delete = function (car) {
                    $http.delete("@Url.Action("PostCar", "Cars")/" + car.id).then(function (response) {
                        var index = $scope.cars.indexOf(car);
                        $scope.cars.splice(index, 1);
                    });
                }
            });
    </script>
}


